@font-face {
    font-family: frontpageneue;
    src: url(../fonts/Front_Page_Neue.ttf);
}
@font-face {
    font-family: lemonmilk;
    src: url(../fonts/LemonMilk.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}